.blockchainaccounts-transaction-table {
	border: 0;
	width: 100%;
	table-layout: fixed;
}

.blockchainaccounts-transaction-table th {
	background: #404040;
	color: #ffffff;
	margin: 0;
	padding: 5px;
	border: 0;
	text-align: left;
}

.blockchainaccounts-transaction-table td {
	background: #f0f0f0;
	color: #000000;
	padding: 5px;
	border: 0;
	text-align: left;
}

.blockchainaccounts-withdraw {
	border: 0;
}

.blockchainaccounts-withdraw th {
	width: 40%;
	border: 0;
}

.blockchainaccounts-withdraw td {
	width: 60%;
	border: 0;
}

.blockchainaccounts-withdraw .description {
	font-style: italic;
}

.blockchainaccounts-message-success {
	background: #c0ffc0;
	border: 1px solid #00ff00;
	margin: 6px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.blockchainaccounts-message-error {
	background: #ffc0c0;
	border: 1px solid #ff0000;
	margin: 6px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}